CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
*.exe
*.lib
*.vs
*.vscode
*.dll
*c_cpp_properties.json
*settings.json
*main.cpp